<div class="card">
    <ul class="table-view"
        ng-repeat="rep in reps">
        <li ng-if="!rep.pending && rep.invisible == null"
            class="table-view-cell media"
            ng-click="showDetail(rep.id)">
            <a >
                <img class="media-object pull-left" ng-src="{{ rep.photo_url }}" height="42">
                <div class="media-body">
                    {{ rep.name }}
                    <p>
                        <span class="badge badge-inverted">
                            Started selling {{ rep.created_at }}
                        </span>
                    </p>
                </div>
                <span class="badge badge-primary"
                      style="padding: 5px;margin-right: .5em;"
                      ng-if="rep.new"></span>
            </a>
        </li>
    </ul>
</div>

