<div class="card">
    <ul class="table-view">
        <li class="table-view-cell" style="padding: 11px 15px 11px 15px;">
                <img class="media-object pull-left" ng-src="{{ rep.photo_url }}">
                <div class="media-body">
                    {{ rep.name }}
                    <p style="margin-top: 1em;">
                    <div>

                        <p style="font-size: 10pt;">
                            <i class="fa fa-bank" ></i>
                            {{ rep.education }}
                        </p>
                    </div>
                    <div>
                        <p style="font-size: 10pt;">
                            <i class="fa fa-calendar" style="margin-left: .1em;margin-right: .2em;"></i>
                            {{ rep.age }} years old
                        </p>
                    </div>
                    <!--<div>-->
                        <!--<p style="font-size: 10pt;">-->
                            <!--<i class="fa fa-calendar"></i>-->
                            <!--Joined {{ rep.created_at }}-->
                        <!--</p>-->
                    <!--</div>-->
                    </p>
                </div>
        </li>
        <li class="table-view-cell table-view-divider"></li>

        <li>
            <div class="segmented-control" style="border:none;">
                <span class="control-item " style="padding-top: 1em;">
                    <h3>{{ rep.number_of_closes / rep.number_of_calls | number:2 }}</h3>
                    Closing rate
                </span>
                <span class="control-item">
                    <h3>${{ rep.total_sales / rep.number_of_closes | number:2}}</h3>
                    Avg. deal size
                </span>
                <span class="control-item">
                    <h3>{{ rep.number_of_closes }}</h3>
                    No. closes
                </span>
            </div>
        </li>
        <li class="table-view-cell table-view-divider"></li>



        <li class="table-view-cell" style="padding: 11px 15px 11px 15px;">


            <p>
                        {{ rep.summary }}
                    </p>
        </li>

        <li class="table-view-cell" style="padding: 11px 15px 11px 15px;">


            <p>
                {{ rep.work_experience }}
            </p>
        </li>



        <li class="table-view-cell table-view-divider"></li>

        <!--<li>-->
            <!--<div class="segmented-control" style="border:none;">-->

                <!--<span class="control-item" style="padding-top: 1em;border-left: 0;">-->
                    <!--<h3>-->
                        <!--<i class="fa fa-university"></i>-->
                    <!--</h3>-->

                <!--</span>-->
                <!--<span class="control-item" style="padding-top: 1em;border-left: 0;">-->
                    <!--<h3>-->
                        <!--<i class="fa fa-shopping-cart"></i>-->
                    <!--</h3>-->
                <!--</span>-->
                                <!--<span class="control-item " style="padding-top: 1em;border-left: 0;">-->
                    <!--<h3>-->
                        <!--<i class="fa fa-tree"></i>-->
                    <!--</h3>-->
                <!--</span>-->
                <!--</span>-->
                                <!--<span class="control-item " style="padding-top: 1em;border-left: 0;">-->
                    <!--<h3>-->
                        <!--<i class="fa fa-suitcase"></i>-->
                    <!--</h3>-->
                <!--</span>-->
            <!--</div>-->
        <!--</li>-->

        <li class="table-view-cell">
            <div>

                <p>
                    <i class="fa fa-phone" style="margin-right: .5em;"></i>
                    {{ rep.phone }}
                </p>
            </div>
            <div>
                <p>
                    <i class="fa fa-envelope" style="margin-right: .5em;"></i>
                    {{ rep.email }}
                </p>
            </div>
        </li>

        <li class="table-view-cell table-view-divider"></li>
        <li style="background-color: #5cb85c;" ng-if="rep.pending">

            <button class="btn-negative btn-block"
                    ng-click="rejectRep(rep.id)"
                    style="display: inline; width:49%;margin-bottom: 0">
                Reject
            </button>
            <button class="btn-positive btn-block"
                    ng-click="acceptRep(rep.id)"
                    style="display:inline; width:49%;margin-bottom: 0;"
                    >
                Accept
            </button>

        </li>
    </ul>
</div>


