<div class="card"
     ng-if="anymorePendingReps()">
    <ul class="table-view"
        ng-repeat="rep in reps">
        <li ng-if="rep.pending && rep.invisible == null"
            class="table-view-cell media"
            ng-click="showDetail(rep.id)"
            style="padding: 11px 50px 11px 15px;">
            <a class="navigate-right"
                    style="margin: -11px -50px -11px -15px;">
                <img class="media-object pull-left" ng-src="{{ rep.photo_url }}" height="42">
                <div class="media-body">
                    {{ rep.name }}
                    <p>
                        <span class="badge badge-inverted badge-primary">
                            AE Close {{(rep.number_of_closes / rep.number_of_calls) * 100 | number:0 }}%
                        </span>
                        <span class="badge badge-inverted badge-positive">
                            Avg Deal ${{ rep.total_sales / rep.number_of_closes | number:0}}
                        </span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="card"
     ng-if="!anymorePendingReps()">
    <ul class="table-view">
        <li class="table-view-cell media">
            <div>
               No more reps in the pipeline...check back later!
            </div>
        </li>
    </ul>
</div>


